@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Dispense Drinks</h1>
    <a asp-controller="Home" asp-action="DispenseLeft">Dispense Left</a>
    <br />
    <br />
    <a asp-controller="Home" asp-action="DispenseRight">Dispense Right</a>
</div>
